{% extends "base.html" %}

{% block title %}Participants — Paws on Stream{% endblock %}

{% block content %}
  <h1>Participants</h1>
  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Reg ID</th>
        <th>Name</th>
        <th>Spam Count</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      {% for participant in participants %}

        <tr>
          <th scope="row">{{ participant.reg_id | default_if_none:'-' }}</th>
          <td>{{ participant.display_name }}</td>
          <td>{{ participant.spam_count }}</td>
          <td><a href="{% url 'participants:participant_detail' participant.pk %}"
                 class="btn btn-sm btn-outline-primary"><i
            class="bi bi-search"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
